*{
    margin: 0px;
    padding: 0px;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;;
    background-color: #394032;
}



ul li {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size: 22px;
    background-image:linear-gradient(40deg,#8dab87,#394032);
    align-items: center;
}

li img{
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    border-right: solid #ffe342;
    padding-right: 22px;
}


.options{
    display: flex;
    flex-direction: row;
}

.options input{
    height: 30px;
    width: 370px;
    font-size: 18px;
    border-radius: 6px;
}
.options button{
    height: 25px;
    font-size: 18px;
    background-color: #BDF24B;

}

img{
    height: 240px;
    width: 400px;
}

h2{
    color: #f0f0f0;
}

h3{
color: #ffffff;
}

.container{
    background-color: #8dab87;  
    display: flex;
    justify-content: space-around;
    width: 210px;
    height: 350px;
    position: relative;
    margin: 150px auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
   border-radius: 10px;
    overflow: hidden;
}


.form{
    padding: 20px;
}

.form-control{
    margin-bottom: 25px;
    padding-bottom: 35px;
    position: relative;
}


select{
 
    border: none;
    margin-left: 15px;
    padding-left: 5px;
    border-radius: 10px;
    padding: 6px;
    
}

.form-control label{
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 35px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;

}

.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #cfee9e;
    border: none;
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

/* Error and Success */

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

@media(max-width:700px){

    .options{
        flex-direction: column;
    }
}

@media(max-width:400px){

    .container{
        width: fit-content;
    }
}

@media(max-width:380px){
    ul > li{
        flex-direction: column;
    }

    .options{
        flex-direction: column;
    }

    a{
        border-right: none;
        align-items: center;
        margin: auto;
    }
}

.btn{
    margin-left: -10px;
}